<footer>
  <small>
    This project is maintained by <a href="https://www.danurbanowicz.com">Dan Urbanowicz</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
    <p>
    <a href="https://app.netlify.com/sites/hmhusbilsblog/deploys" >
      <img alt="Netlify status" src="https://api.netlify.com/api/v1/badges/c495e392-8328-455d-a0c4-cac642c2f0ed/deploy-status">
    </a>
    </p>
  </small>
</footer>
